@import url('https://themes.googleusercontent.com/fonts/css?kit=oUW-gTP6MMB4ZQJIzvgZ0e-Tm8lfbhQ2l2vEJS-ztgYUYnMtSWaWwjbenwiAgF9Aj18wS6dtWyRLV-6pSuZTDB0eMjnVLvfh8xSZGtsNek4E1iHVj9WBGfmEXpGZPV-Z');

ol.lst-kix_list_3-1 {
    list-style-type: none
}

ol.lst-kix_list_3-2 {
    list-style-type: none
}

.lst-kix_list_3-1 > li {
    counter-increment: lst-ctn-kix_list_3-1
}

ol.lst-kix_list_3-3 {
    list-style-type: none
}

ol.lst-kix_list_3-4.start {
    counter-reset: lst-ctn-kix_list_3-4 0
}

.lst-kix_list_5-1 > li {
    counter-increment: lst-ctn-kix_list_5-1
}

ol.lst-kix_list_3-4 {
    list-style-type: none
}

.lst-kix_list_2-1 > li {
    counter-increment: lst-ctn-kix_list_2-1
}

ol.lst-kix_list_3-0 {
    list-style-type: none
}

.lst-kix_list_1-1 > li {
    counter-increment: lst-ctn-kix_list_1-1
}

ol.lst-kix_list_2-6.start {
    counter-reset: lst-ctn-kix_list_2-6 0
}

.lst-kix_list_3-0 > li:before {
    content: "" counter(lst-ctn-kix_list_3-0, decimal) ". "
}

ol.lst-kix_list_3-1.start {
    counter-reset: lst-ctn-kix_list_3-1 0
}

.lst-kix_list_3-1 > li:before {
    content: "" counter(lst-ctn-kix_list_3-1, lower-latin) ". "
}

.lst-kix_list_3-2 > li:before {
    content: "" counter(lst-ctn-kix_list_3-2, lower-roman) ". "
}

ol.lst-kix_list_1-8.start {
    counter-reset: lst-ctn-kix_list_1-8 0
}

.lst-kix_list_5-0 > li {
    counter-increment: lst-ctn-kix_list_5-0
}

ol.lst-kix_list_2-3.start {
    counter-reset: lst-ctn-kix_list_2-3 0
}

.lst-kix_list_3-5 > li:before {
    content: "" counter(lst-ctn-kix_list_3-5, lower-roman) ". "
}

.lst-kix_list_3-4 > li:before {
    content: "" counter(lst-ctn-kix_list_3-4, lower-latin) ". "
}

ol.lst-kix_list_1-5.start {
    counter-reset: lst-ctn-kix_list_1-5 0
}

.lst-kix_list_3-3 > li:before {
    content: "" counter(lst-ctn-kix_list_3-3, decimal) ". "
}

ol.lst-kix_list_3-5 {
    list-style-type: none
}

ol.lst-kix_list_3-6 {
    list-style-type: none
}

ol.lst-kix_list_3-7 {
    list-style-type: none
}

ol.lst-kix_list_3-8 {
    list-style-type: none
}

.lst-kix_list_3-8 > li:before {
    content: "" counter(lst-ctn-kix_list_3-8, lower-roman) ". "
}

.lst-kix_list_2-0 > li {
    counter-increment: lst-ctn-kix_list_2-0
}

ol.lst-kix_list_5-3.start {
    counter-reset: lst-ctn-kix_list_5-3 0
}

.lst-kix_list_2-3 > li {
    counter-increment: lst-ctn-kix_list_2-3
}

.lst-kix_list_3-6 > li:before {
    content: "" counter(lst-ctn-kix_list_3-6, decimal) ". "
}

.lst-kix_list_3-7 > li:before {
    content: "" counter(lst-ctn-kix_list_3-7, lower-latin) ". "
}

ol.lst-kix_list_5-0.start {
    counter-reset: lst-ctn-kix_list_5-0 0
}

.lst-kix_list_1-2 > li {
    counter-increment: lst-ctn-kix_list_1-2
}

ol.lst-kix_list_3-7.start {
    counter-reset: lst-ctn-kix_list_3-7 0
}

.lst-kix_list_5-2 > li {
    counter-increment: lst-ctn-kix_list_5-2
}

.lst-kix_list_3-2 > li {
    counter-increment: lst-ctn-kix_list_3-2
}

ol.lst-kix_list_2-2 {
    list-style-type: none
}

ol.lst-kix_list_2-3 {
    list-style-type: none
}

.lst-kix_list_5-0 > li:before {
    content: "" counter(lst-ctn-kix_list_5-0, upper-latin) ". "
}

ol.lst-kix_list_2-4 {
    list-style-type: none
}

ol.lst-kix_list_2-5 {
    list-style-type: none
}

.lst-kix_list_5-4 > li {
    counter-increment: lst-ctn-kix_list_5-4
}

.lst-kix_list_1-4 > li {
    counter-increment: lst-ctn-kix_list_1-4
}

ol.lst-kix_list_2-0 {
    list-style-type: none
}

ol.lst-kix_list_1-6.start {
    counter-reset: lst-ctn-kix_list_1-6 0
}

ol.lst-kix_list_2-1 {
    list-style-type: none
}

.lst-kix_list_4-8 > li:before {
    content: "\0025aa  "
}

.lst-kix_list_5-3 > li:before {
    content: "" counter(lst-ctn-kix_list_5-3, decimal) ". "
}

.lst-kix_list_4-7 > li:before {
    content: "o  "
}

.lst-kix_list_5-2 > li:before {
    content: "" counter(lst-ctn-kix_list_5-2, lower-roman) ". "
}

.lst-kix_list_5-1 > li:before {
    content: "" counter(lst-ctn-kix_list_5-1, lower-latin) ". "
}

ul.lst-kix_list_4-8 {
    list-style-type: none
}

.lst-kix_list_5-7 > li:before {
    content: "" counter(lst-ctn-kix_list_5-7, lower-latin) ". "
}

ol.lst-kix_list_5-6.start {
    counter-reset: lst-ctn-kix_list_5-6 0
}

ul.lst-kix_list_4-6 {
    list-style-type: none
}

.lst-kix_list_5-6 > li:before {
    content: "" counter(lst-ctn-kix_list_5-6, decimal) ". "
}

.lst-kix_list_5-8 > li:before {
    content: "" counter(lst-ctn-kix_list_5-8, lower-roman) ". "
}

ul.lst-kix_list_4-7 {
    list-style-type: none
}

ul.lst-kix_list_4-0 {
    list-style-type: none
}

ul.lst-kix_list_4-1 {
    list-style-type: none
}

ol.lst-kix_list_3-3.start {
    counter-reset: lst-ctn-kix_list_3-3 0
}

.lst-kix_list_5-4 > li:before {
    content: "" counter(lst-ctn-kix_list_5-4, lower-latin) ". "
}

ul.lst-kix_list_4-4 {
    list-style-type: none
}

.lst-kix_list_5-5 > li:before {
    content: "" counter(lst-ctn-kix_list_5-5, lower-roman) ". "
}

ol.lst-kix_list_2-6 {
    list-style-type: none
}

ul.lst-kix_list_4-5 {
    list-style-type: none
}

ol.lst-kix_list_2-7 {
    list-style-type: none
}

ul.lst-kix_list_4-2 {
    list-style-type: none
}

ol.lst-kix_list_2-8 {
    list-style-type: none
}

ul.lst-kix_list_4-3 {
    list-style-type: none
}

ol.lst-kix_list_1-0.start {
    counter-reset: lst-ctn-kix_list_1-0 0
}

.lst-kix_list_3-0 > li {
    counter-increment: lst-ctn-kix_list_3-0
}

.lst-kix_list_3-3 > li {
    counter-increment: lst-ctn-kix_list_3-3
}

.lst-kix_list_3-6 > li {
    counter-increment: lst-ctn-kix_list_3-6
}

.lst-kix_list_2-5 > li {
    counter-increment: lst-ctn-kix_list_2-5
}

.lst-kix_list_2-8 > li {
    counter-increment: lst-ctn-kix_list_2-8
}

ol.lst-kix_list_3-2.start {
    counter-reset: lst-ctn-kix_list_3-2 0
}

ol.lst-kix_list_5-5.start {
    counter-reset: lst-ctn-kix_list_5-5 0
}

.lst-kix_list_2-2 > li {
    counter-increment: lst-ctn-kix_list_2-2
}

ol.lst-kix_list_2-4.start {
    counter-reset: lst-ctn-kix_list_2-4 0
}

ol.lst-kix_list_1-3 {
    list-style-type: none
}

ol.lst-kix_list_5-0 {
    list-style-type: none
}

ol.lst-kix_list_1-4 {
    list-style-type: none
}

.lst-kix_list_2-6 > li:before {
    content: "" counter(lst-ctn-kix_list_2-6, decimal) ". "
}

.lst-kix_list_2-7 > li:before {
    content: "" counter(lst-ctn-kix_list_2-7, lower-latin) ". "
}

.lst-kix_list_2-7 > li {
    counter-increment: lst-ctn-kix_list_2-7
}

.lst-kix_list_3-7 > li {
    counter-increment: lst-ctn-kix_list_3-7
}

ol.lst-kix_list_5-1 {
    list-style-type: none
}

ol.lst-kix_list_1-5 {
    list-style-type: none
}

ol.lst-kix_list_5-2 {
    list-style-type: none
}

ol.lst-kix_list_1-6 {
    list-style-type: none
}

ol.lst-kix_list_1-0 {
    list-style-type: none
}

.lst-kix_list_2-4 > li:before {
    content: "" counter(lst-ctn-kix_list_2-4, lower-latin) ". "
}

.lst-kix_list_2-5 > li:before {
    content: "" counter(lst-ctn-kix_list_2-5, lower-roman) ". "
}

.lst-kix_list_2-8 > li:before {
    content: "" counter(lst-ctn-kix_list_2-8, lower-roman) ". "
}

ol.lst-kix_list_1-1 {
    list-style-type: none
}

ol.lst-kix_list_1-2 {
    list-style-type: none
}

ol.lst-kix_list_5-4.start {
    counter-reset: lst-ctn-kix_list_5-4 0
}

ol.lst-kix_list_5-1.start {
    counter-reset: lst-ctn-kix_list_5-1 0
}

ol.lst-kix_list_3-0.start {
    counter-reset: lst-ctn-kix_list_3-0 0
}

ol.lst-kix_list_5-7 {
    list-style-type: none
}

ol.lst-kix_list_5-8 {
    list-style-type: none
}

.lst-kix_list_5-7 > li {
    counter-increment: lst-ctn-kix_list_5-7
}

ol.lst-kix_list_5-3 {
    list-style-type: none
}

ol.lst-kix_list_1-7 {
    list-style-type: none
}

ol.lst-kix_list_5-4 {
    list-style-type: none
}

.lst-kix_list_1-7 > li {
    counter-increment: lst-ctn-kix_list_1-7
}

ol.lst-kix_list_1-8 {
    list-style-type: none
}

ol.lst-kix_list_3-8.start {
    counter-reset: lst-ctn-kix_list_3-8 0
}

ol.lst-kix_list_5-5 {
    list-style-type: none
}

ol.lst-kix_list_5-6 {
    list-style-type: none
}

ol.lst-kix_list_2-5.start {
    counter-reset: lst-ctn-kix_list_2-5 0
}

.lst-kix_list_5-8 > li {
    counter-increment: lst-ctn-kix_list_5-8
}

.lst-kix_list_4-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_list_2-6 > li {
    counter-increment: lst-ctn-kix_list_2-6
}

.lst-kix_list_3-8 > li {
    counter-increment: lst-ctn-kix_list_3-8
}

.lst-kix_list_4-1 > li:before {
    content: "o  "
}

ol.lst-kix_list_1-7.start {
    counter-reset: lst-ctn-kix_list_1-7 0
}

.lst-kix_list_4-4 > li:before {
    content: "o  "
}

ol.lst-kix_list_2-2.start {
    counter-reset: lst-ctn-kix_list_2-2 0
}

.lst-kix_list_1-5 > li {
    counter-increment: lst-ctn-kix_list_1-5
}

.lst-kix_list_4-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_list_4-5 > li:before {
    content: "\0025aa  "
}

.lst-kix_list_4-2 > li:before {
    content: "\0025aa  "
}

.lst-kix_list_4-6 > li:before {
    content: "\0025cf  "
}

ol.lst-kix_list_5-7.start {
    counter-reset: lst-ctn-kix_list_5-7 0
}

.lst-kix_list_1-8 > li {
    counter-increment: lst-ctn-kix_list_1-8
}

ol.lst-kix_list_1-4.start {
    counter-reset: lst-ctn-kix_list_1-4 0
}

.lst-kix_list_5-5 > li {
    counter-increment: lst-ctn-kix_list_5-5
}

.lst-kix_list_3-5 > li {
    counter-increment: lst-ctn-kix_list_3-5
}

ol.lst-kix_list_1-1.start {
    counter-reset: lst-ctn-kix_list_1-1 0
}

.lst-kix_list_3-4 > li {
    counter-increment: lst-ctn-kix_list_3-4
}

.lst-kix_list_2-4 > li {
    counter-increment: lst-ctn-kix_list_2-4
}

ol.lst-kix_list_3-6.start {
    counter-reset: lst-ctn-kix_list_3-6 0
}

.lst-kix_list_5-3 > li {
    counter-increment: lst-ctn-kix_list_5-3
}

ol.lst-kix_list_1-3.start {
    counter-reset: lst-ctn-kix_list_1-3 0
}

ol.lst-kix_list_2-8.start {
    counter-reset: lst-ctn-kix_list_2-8 0
}

ol.lst-kix_list_1-2.start {
    counter-reset: lst-ctn-kix_list_1-2 0
}

.lst-kix_list_1-0 > li:before {
    content: "" counter(lst-ctn-kix_list_1-0, decimal) ". "
}

.lst-kix_list_1-1 > li:before {
    content: "" counter(lst-ctn-kix_list_1-1, lower-latin) ". "
}

.lst-kix_list_1-2 > li:before {
    content: "" counter(lst-ctn-kix_list_1-2, lower-roman) ". "
}

ol.lst-kix_list_2-0.start {
    counter-reset: lst-ctn-kix_list_2-0 0
}

.lst-kix_list_1-3 > li:before {
    content: "" counter(lst-ctn-kix_list_1-3, decimal) ". "
}

.lst-kix_list_1-4 > li:before {
    content: "" counter(lst-ctn-kix_list_1-4, lower-latin) ". "
}

ol.lst-kix_list_3-5.start {
    counter-reset: lst-ctn-kix_list_3-5 0
}

.lst-kix_list_1-0 > li {
    counter-increment: lst-ctn-kix_list_1-0
}

.lst-kix_list_1-6 > li {
    counter-increment: lst-ctn-kix_list_1-6
}

.lst-kix_list_1-7 > li:before {
    content: "" counter(lst-ctn-kix_list_1-7, lower-latin) ". "
}

ol.lst-kix_list_5-8.start {
    counter-reset: lst-ctn-kix_list_5-8 0
}

ol.lst-kix_list_2-7.start {
    counter-reset: lst-ctn-kix_list_2-7 0
}

.lst-kix_list_1-3 > li {
    counter-increment: lst-ctn-kix_list_1-3
}

.lst-kix_list_1-5 > li:before {
    content: "" counter(lst-ctn-kix_list_1-5, lower-roman) ". "
}

.lst-kix_list_1-6 > li:before {
    content: "" counter(lst-ctn-kix_list_1-6, decimal) ". "
}

.lst-kix_list_5-6 > li {
    counter-increment: lst-ctn-kix_list_5-6
}

.lst-kix_list_2-0 > li:before {
    content: "" counter(lst-ctn-kix_list_2-0, decimal) ". "
}

.lst-kix_list_2-1 > li:before {
    content: "" counter(lst-ctn-kix_list_2-1, lower-latin) ". "
}

ol.lst-kix_list_2-1.start {
    counter-reset: lst-ctn-kix_list_2-1 0
}

.lst-kix_list_1-8 > li:before {
    content: "" counter(lst-ctn-kix_list_1-8, lower-roman) ". "
}

.lst-kix_list_2-2 > li:before {
    content: "" counter(lst-ctn-kix_list_2-2, lower-roman) ". "
}

.lst-kix_list_2-3 > li:before {
    content: "" counter(lst-ctn-kix_list_2-3, decimal) ". "
}

ol.lst-kix_list_5-2.start {
    counter-reset: lst-ctn-kix_list_5-2 0
}

ol {
    margin: 0;
    padding: 0
}

table td, table th {
    padding: 0
}

.c44 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #b7dde8;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 97.7pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c108 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 328.6pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c172 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #95b3d7;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 522pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c107 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #297971;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: middle;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #00948d;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 72pt;
    border-top-color: #297971;
    border-bottom-style: solid
}

.c125 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: middle;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 72pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c68 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: top;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 135pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c60 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: top;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 175.5pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c39 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: middle;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #dbeef3;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 108.8pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c33 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #b7dde8;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 103.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c43 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #25756d;
    vertical-align: top;
    border-right-color: #25756d;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #93cddc;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 119.1pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c31 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: middle;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 157.5pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c112 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 361.1pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c75 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: top;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 148.3pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c117 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #297971;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: middle;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #00948d;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 54pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c122 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: middle;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 173.4pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c38 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: top;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 144pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c185 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: middle;
    border-right-color: #297971;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #00948d;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 72pt;
    border-top-color: #297971;
    border-bottom-style: solid
}

.c28 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 144pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c20 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: top;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 202.5pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c49 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 148.3pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c41 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #297971;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: middle;
    border-right-color: #297971;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #00948d;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 72pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c153 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: middle;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #00948d;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 81pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c72 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 175.5pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c51 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: middle;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 96.2pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c94 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: top;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 119.5pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c155 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #297971;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: middle;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #00948d;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 99pt;
    border-top-color: #297971;
    border-bottom-style: solid
}

.c78 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 157.5pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c111 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cfe7e6;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 526.5pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c47 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 345.6pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c163 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: middle;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #00948d;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 126pt;
    border-top-color: #297971;
    border-bottom-style: solid
}

.c2 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #25756d;
    vertical-align: top;
    border-right-color: #25756d;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #93cddc;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 107.2pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c63 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: middle;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #00948d;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 81pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c134 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: middle;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #00948d;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 76.5pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c4 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: top;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 324pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c87 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: top;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 328.6pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c132 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 127.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c79 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 324pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c115 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: top;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 345.6pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c192 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 112.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c180 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 72pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c82 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #25756d;
    vertical-align: middle;
    border-right-color: #25756d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 107.2pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c128 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 222.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c145 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 480.6pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c156 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 480.6pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c50 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 54pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c70 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #25756d;
    vertical-align: top;
    border-right-color: #25756d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 109.9pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c141 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 99pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c184 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: middle;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 175.5pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c10 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 81pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c83 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #25756d;
    vertical-align: middle;
    border-right-color: #25756d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 148.5pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c37 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 76.5pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c109 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 92.2pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c171 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 119.5pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c98 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 97.7pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c167 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 522pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c138 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #25756d;
    vertical-align: top;
    border-right-color: #25756d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 148.5pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c162 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 361.1pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c188 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 308.7pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c178 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: middle;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 517.5pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c97 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 99pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c53 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 92.8pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c189 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 504.1pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c105 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #25756d;
    vertical-align: top;
    border-right-color: #25756d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 111.8pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c66 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: top;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 308.7pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c71 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 112.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c183 {
    border-right-style: solid;
    padding: 3.6pt 5.8pt 3.6pt 5.8pt;
    border-bottom-color: #808080;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #808080;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 2.2pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 2.2pt;
    width: 101.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c135 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 323.1pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c133 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: middle;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 139pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c113 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: middle;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 96.2pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c127 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 112.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c143 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #25756d;
    vertical-align: top;
    border-right-color: #25756d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 119.1pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c175 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 72pt;
    border-top-color: #297971;
    border-bottom-style: solid
}

.c32 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #25756d;
    vertical-align: top;
    border-right-color: #25756d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 81pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c144 {
    border-right-style: solid;
    padding: 3.6pt 5.8pt 3.6pt 5.8pt;
    border-bottom-color: #808080;
    border-top-width: 0pt;
    border-right-width: 2.2pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #808080;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 2.2pt;
    width: 361.4pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c27 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #25756d;
    vertical-align: top;
    border-right-color: #25756d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 107.2pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c103 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 355.4pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c25 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: top;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 355.4pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c16 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 130.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c80 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 107.2pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c73 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 127.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c124 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: middle;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 103.5pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c65 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 72pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c186 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #25756d;
    vertical-align: top;
    border-right-color: #25756d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 199.5pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c114 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #25756d;
    vertical-align: top;
    border-right-color: #25756d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 92.2pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c137 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 112.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c165 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 495pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c169 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: middle;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 108.8pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c146 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 119.4pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c181 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 157.5pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c177 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 54pt;
    border-top-color: #297971;
    border-bottom-style: solid
}

.c110 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 328.6pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c13 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 119.4pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c154 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 72pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c158 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 81pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c54 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #00948d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: top;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 361.1pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c129 {
    border-right-style: solid;
    padding: 0pt 3.5pt 0pt 3.5pt;
    border-bottom-color: #25756d;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #25756d;
    vertical-align: middle;
    border-right-color: #25756d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 214.5pt;
    border-top-color: #25756d;
    border-bottom-style: solid
}

.c92 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 72pt;
    border-top-color: #297971;
    border-bottom-style: solid
}

.c104 {
    border-right-style: solid;
    padding: 2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00948d;
    vertical-align: middle;
    border-right-color: #00948d;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 308.7pt;
    border-top-color: #00948d;
    border-bottom-style: solid
}

.c179 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 130.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c159 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: middle;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 173.4pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c8 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 99pt;
    border-top-color: #297971;
    border-bottom-style: solid
}

.c130 {
    border-right-style: solid;
    padding: 1.4pt 5.8pt 1.4pt 5.8pt;
    border-bottom-color: #00928f;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #00928f;
    vertical-align: top;
    border-right-color: #00928f;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 54pt;
    border-top-color: #00928f;
    border-bottom-style: solid
}

.c1 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c3 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Garamond";
    font-style: normal
}

.c61 {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Garamond";
    font-style: normal
}

.c24 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Garamond";
    font-style: normal
}

.c7 {
    color: #ff0000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c119 {
    color: #366091;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Calibri";
    font-style: normal
}

.c18 {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Garamond";
    font-style: normal
}

.c40 {
    padding-top: 0pt;
    padding-bottom: 6pt;
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c142 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Cabin";
    font-style: normal
}

.c17 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c5 {
    color: #0000ff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Garamond";
    font-style: normal
}

.c22 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Wingdings 2";
    font-style: normal
}

.c96 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Calibri";
    font-style: normal
}

.c19 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Garamond";
    font-style: normal
}

.c121 {
    color: #4f81bd;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 18pt;
    font-family: "Cambria";
    font-style: normal
}

.c149 {
    color: #0000ff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Garamond";
    font-style: normal
}

.c15 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Wingdings 2";
    font-style: normal
}

.c67 {
    color: #00928f;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 6pt;
    font-family: "Garamond";
    font-style: normal
}

.c139 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10.5pt;
    font-family: "Cabin";
    font-style: normal
}

.c30 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Cabin";
    font-style: normal
}

.c36 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Garamond";
    font-style: normal
}

.c14 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Arial";
    font-style: normal
}

.c21 {
    padding-top: 2pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c52 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c160 {
    color: #0000ff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Garamond";
    font-style: normal
}

.c148 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Cabin";
    font-style: italic
}

.c81 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 18pt;
    font-family: "Cambria";
    font-style: normal
}

.c151 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Garamond";
    font-style: normal
}

.c69 {
    padding-top: 2pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c166 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify;
    margin-right: 140.8pt
}

.c45 {
    color: #00948d;
    font-weight: 700;
    text-decoration: none;
    vertical-align: super;
    font-size: 12pt;
    font-family: "Garamond";
    font-style: normal
}

.c100 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 6pt;
    font-family: "Garamond";
    font-style: normal
}

.c26 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 8pt;
    font-family: "Calibri";
    font-style: normal
}

.c55 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 8pt;
    font-family: "Garamond";
    font-style: normal
}

.c29 {
    color: #00948d;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Garamond";
    font-style: normal
}

.c56 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c35 {
    padding-top: 6pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c182 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c46 {
    padding-top: 0pt;
    padding-bottom: 2pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c64 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c42 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c86 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c57 {
    padding-top: 2pt;
    padding-bottom: 2pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c6 {
    padding-top: 2pt;
    padding-bottom: 2pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c12 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left;
    height: 11pt
}

.c118 {
    margin-left: -22.5pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c84 {
    margin-left: -36.4pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c58 {
    margin-left: -40.5pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c89 {
    margin-left: -27pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c76 {
    margin-left: -31.9pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c168 {
    margin-left: 9pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c101 {
    margin-left: -5.8pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c161 {
    margin-left: -31.5pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c170 {
    font-size: 12pt;
    font-family: "Garamond";
    font-weight: 400
}

.c152 {
    font-size: 12pt;
    font-family: "Times New Roman";
    font-weight: 700
}

.c136 {
    font-size: 8pt;
    font-family: "Times New Roman";
    font-weight: 700
}

.c90 {
    background-color: #ffffff;
    padding: 72pt 72pt 40.5pt 72pt
}

.c150 {
    margin-left: 18pt;
    text-indent: -18pt
}

.c176 {
    font-weight: 400;
    font-family: "Cabin"
}

.c174 {
    width: 33%;
    height: 1px
}

.c190 {
    padding: 0;
    margin: 0
}

.c147 {
    height: 43pt
}

.c59 {
    height: 13pt
}

.c62 {
    height: 22pt
}

.c88 {
    margin-right: 59.5pt
}

.c11 {
    height: 1pt
}

.c187 {
    height: 24pt
}

.c102 {
    height: 18pt
}

.c99 {
    height: 30pt
}

.c48 {
    height: 0pt
}

.c164 {
    height: 27pt
}

.c126 {
    height: 153pt
}

.c157 {
    height: 23pt
}

.c140 {
    background-color: #cfe7e6
}

.c120 {
    height: 20pt
}

.c34 {
    height: 11pt
}

.c85 {
    background-color: #93cddc
}

.c95 {
    height: 26pt
}

.c91 {
    height: 17pt
}

.c116 {
    background-color: #ffffff
}

.c191 {
    padding-left: 0pt
}

.c106 {
    height: 16pt
}

.c173 {
    margin-left: 36pt
}

.c123 {
    background-color: #b7dde8
}

.c93 {
    height: 39pt
}

.c74 {
    height: 15pt
}

.c23 {
    height: 35pt
}

.c131 {
    height: 85pt
}

.c77 {
    height: 19pt
}

.c9 {
    height: 14pt
}

.title {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 36pt;
    padding-bottom: 6pt;
    font-family: "Calibri";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Calibri"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Calibri"
}

h1 {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 24pt;
    padding-bottom: 6pt;
    font-family: "Calibri";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 10pt;
    color: #4f81bd;
    font-weight: 700;
    font-size: 13pt;
    padding-bottom: 0pt;
    font-family: "Cambria";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 14pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Calibri";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 2pt;
    font-family: "Calibri";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 11pt;
    color: #000000;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "Calibri";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 10pt;
    color: #000000;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 2pt;
    font-family: "Calibri";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}