@media print{
  * {margin:0px; padding:0px;}
  h3{font-size:21px;}
      
  .grad-blue{
    background: none;
  }
  container{
    width:100%;
    color:black;
    margin:0px;
    padding:0px;
  }
  .panel-default {
    border-color: transparent;
}
  .panel {
    margin: 0px;
    padding:0px;
    background-color: transparent;
    border:none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
    
   /*Override bootstrap for printing - Site: https://gist.github.com/donnierayjones/6fd9802d992b2d8d6cfd */
    .col-xs-12{
        width:inherit;
        float:left;
    }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12  { width:100%;}
    .col-sm-11  { width:91.66666667%; }
    .col-sm-10  { width:83.33333333%; }
    .col-sm-9   { width:75%; }
    .col-sm-8   { width:66.66666667%; }
    .col-sm-7   { width:58.33333333%; }
    .col-sm-6   { width:50%; }
    .col-sm-5   { width:41.66666667%; }
    .col-sm-4   { width:33.33333333%; }
    .col-sm-3   { width:25%; }
    .col-sm-2   { width:16.6666667%; }
    .col-sm-1   { width:8.33333333%; }

    .value-bar {
     /* School Score Bar */
     background: #C5E6F9 !important;
     /* This only works in Chrome and Safari: (It forces print of graphics)  -webkit-print-color-adjust: exact;*/
     height: 100%;
    }

    #divSchoolInfo h4, #divSchoolInfo h5{
        font-size:13px;
    }

    #divSchoolInfo td{
        border-spacing:0px;
        padding:0px;
        margin:0px;
    }

    #admissions .panel.well{
       page-break-inside:avoid;
       margin-bottom:20px;
       padding:10px;
       border:1px solid grey;
       border-radius: 5px;
   }

    #admissions .col-sm-8   { width:90%; }
    #admissions .col-sm-4   { width:10%; }

    a[href]:after {
    content: " (" attr(href) ")";
    content: none !important;
  }
   .card-style{
    border:0; 
    box-shadow:none; 
    margin-bottom:0; 
    padding:0;
}
    div{
        margin:0px;
        padding:0px;
    }

    div.row{
        page-break-inside:avoid;
    }
    
    #schoolprofilebanner {
    min-height:0px; 
    box-shadow:0px;
}
    #divSchoolInfoHeader {
        text-align:left;
    }    

}
