﻿

/*bootstrap overrides*/

/* fixes ie 10 in windows phone 8 width bug (along with js on master page) */ 
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


body {
 background-color: #FFF;
 font-size: 12px;
}
.container {
 width: 920px;
 width: 100%;
}

h1, h2, h3 {
 margin-top: 0px;
 margin-bottom: 5px;
 font-family:'Century Gothic', Arial, Sans-Serif;
}
.text-bold {
 font-weight: bold;
}
.popover {
 color: #777;
}
.popover-content {
 padding: 10px 10px 10px 10px;
}

/* School Profile Banner */

#schoolprofilebanner {
    min-height:235px; 
    box-shadow:0px 2px 2px #e6e6e6;
}
a.liblue, a.liblue:visited, a.liblue:focus {
 color:#fff;
 text-decoration:none;
}

#schoolprofilebanner a.liblue:hover {
 color:#C5E6F9;
 text-decoration:none;
}

.imgAwards{
 /*padding-left:40px;*/
}

/* custom panel shadows */

.panel-style {
    min-height:181px; 
    box-shadow:0px 2px 2px #e6e6e6;
}

/* custom card */

.card-style{
    border:1px solid #e6e6e6; 
    box-shadow:0px 2px 2px #e6e6e6; 
    margin-bottom:20px; 
    padding:20px;
}

/* custom nav styles */
.navstyles{font-size:18px; margin:0px;}

/*button style*/
.btn-primary {
  color: #fff;
  background-color: #0032a0;
  border-color: #002c8c;
}

/* custom list-group-item mobile nav */
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0px solid transparent;
}

/* right nav left border */
.leftnavborder {
    border-left: 1px solid #e6e6e6;
}

/* School Profile Search BG Image */
.backgroundimage {
    background: url(../images/ChicagoSkylineAerial_tiltshift.jpg) no-repeat center center fixed; 
    background-size: cover; 
    min-height:700px;
}
.centered {
    position:fixed; 
    top:50%; 
    left:50%; 
    transform:translate(-50%,-50%);
}

/* mobile menu margin bottom */
.list-group {
    padding-left: 0;
    margin-bottom: 0px;
}

/*column padding overrides*/
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
 padding-left: 2.5px;
 padding-right: 2.5px;
}
.row {
 margin-left: 0;
 margin-right: 0
}
/* autocomplete height reduced */
.ui-autocomplete { height: 400px; overflow-y: scroll; overflow-x: hidden;}

/* fix for ie emulate 7 cps.edu master page code
   take out when new layout */
@media (min-width: 768px) {
  .container {
    width: 950px;
  }
}

/* fix for ie emulate 7 cps.edu master page code
   take out when new layout */
@media (min-width: 768px) and (max-width:965px) {
  .container {
    width: 100%;
  }
}
/* center align school banner on small devices  */
@media (max-width: 767px) { 
#divSchoolInfoHeader {
 text-align:center;
 }
}

/*nav-pill overrides - changes the pills to stacked with outline */
@media (max-width: 767px) { 
    .nav-pills > li { float:none; }
    .btnPill        { border: 1px solid #e0e0e0; margin-top:5px; }
}

/*adjust the School Year and Find a School buttons based on browser width*/
@media (max-width: 767px) {#schoolyearFindaSchool { text-align:left; }}
@media (min-width: 768px) {#schoolyearFindaSchool { text-align:right; }}

/*Find a School Buttons*/
@media (min-width: 768px)                        {.fasBtn {padding-left: 50px;}}
@media (min-width: 400px) and (max-width: 767px) {.fasBtn { padding-left: 10px; }.fasBtn1 { padding-bottom: 10px; }}
@media (min-width: 0px) and (max-width: 399px)   {.fasBtn { padding-bottom:10px; width:100%;  } .fasBtn1 { padding-bottom: 10px; width:100%; }}

/* Find a School checkboxList formating */
table.fasInput input[type="checkbox"] ,
span.fasInput input[type="checkbox"]   {
margin-top: 1px;
margin-bottom: 8px;
}
span.fasInput   {
margin-top: 0px;
margin-bottom: 8px;
}

tr.SearchResultsPager table tbody tr td a,
tr.SearchResultsPager table tbody tr td span {
 margin:3px;
 padding:3px 6px;
 background-color:#0032a0;
 color:#FFF;
 font-weight:bold;
 font-size:14px;
 border-radius:2px;
 text-decoration:none;
 cursor:pointer;
}
tr.SearchResultsPager table tbody tr td span {
 background-color:#999;
 }
/*remove the line above the pager row*/
.table>tbody>tr.SearchResultsPager>td {
 border-top:0px;
}

/*additional colors*/
.grey-light {
 color: #f4f4f4;
}
.grey-med {
 color: #e5e5e5;
}
.grey-dark {
 color: #7c7c7c;
}
.grey-darkest {
 color: #444;
}
.grey-light-bkg {
 background-color: #f4f4f4;
}
.grey-med-bkg {
 background-color: #e5e5e5;
}
.grey-dark-bkg {
 background-color: #7c7c7c;
}

/*Colors for the Color Key */
.green-dark {
 color: #709D4D;
}
.green-dark-bkg {
 background-color: #709D4D;
}
.green-light {
 color: #A0CE66;
}
.green-light-bkg {
 background-color: #A0CE66;
}
.yellow-dark {
 color: #FEC325;
}
.yellow-dark-bkg {
 background-color: #FEC325;
}
.red-light {
 color: #E03526;
}
.red-light-bkg {
 background-color: #E03526;
}
.red-dark {
 color: #801113;
}
.red-dark-bkg {
 background-color: #801113;
}
.blue-light {
 color: #79BDE8;
}
.blue-light-bkg {
 background-color: #79BDE8;
}

.blue-dark {
 color: #428BCA;
}
.blue-dark-bkg {
 background-color: #428BCA;
}
.text-white {
 color: #FFF;
}

/* Styles for the Overview Tab top 4 boxed items */
.majorItems .h5, majorPerformanceItems .h5 {
 font-size:13px;
}
.majorItems .panel-heading {
 padding: 3px 0px;
}
.majorItems .panel-body {
 padding: 8px 0px;
 min-height: 30px;
 vertical-align: middle;
}
.majorItems .panel-footer {
 padding: 0px 0px;
}
/* Styles for the Performance Tab top 4 boxed items */
.majorPerformanceItems .h5 {
 font-size:14px;
}
.majorPerformanceItems .panel-heading {
 padding: 3px 0px;
}
.majorPerformanceItems .panel-body {
 padding: 8px 0px;
 min-height: 30px;
 vertical-align: middle;
}
.majorPerformanceItems .panel-footer {
 padding: 0px 0px;
}

/* make the width of the popup labels the same size */
.popover-content .label {
 display:inline-block;
 min-width:135px;
 padding:.3em .5em .3em .5em;
 margin-bottom: 2px;
 font-size:90%
}
.popover-content .label-certifications {
 min-width:150px;
}
/* make the width of the labels outside of the popups the same size */
.label-sized {
 display:inline-block;
 min-width:135px;
 padding:.3em .5em .3em .5em;
 font-size:90%;
}
.label-sized-cert {
 min-width:165px;
}

/* Styles for the Enrollment Tab top 4 boxed items */
.enrollment h5 {
 font-weight: bold;
 margin-bottom: 3px;
}
.enrollment .label {
 font-size: 100%;
 padding: .5em;
}
.overview .h5 {
 font-size: 12px;
}

/*.list-group-item {
 padding: 5px 10px;
}
.hours > div{
  padding-left:0;
  padding-top:20px;
}
*/


/* bar charts for the Overview Tab */
.bar-average .bar {
 /* Outside Bar 100% */
 border: 0px solid #DDD;
 height: 20px;
 position: relative;
 margin-top: 10px;
 background-color:#f1f1f1;
}
.bar-average .value-bar {
 /* School Score Bar */
 background: #C5E6F9;
 height: 100%;
}
.bar-average .avg {
 /* CPS Average Line */
 background: #bbb;
 height: 30px;
 left: 0;
 position: absolute;
 top: -5px;
 width: 2px;
}
.bar-average .cpsavg {
 /* CPS Average Text */
 font-size: 10px; /*left: 5px; position: absolute; top: 30px;*/
 margin-top: 8px;
 text-align: left;
 color: #777;
}
.bar-average .value {
 /* School Score Value */
 font-size: 12px;
 font-weight: bold;
 left: 5px;
 position: absolute;
 top: 1px;
 color: #069;
}
.bar-average .title {
 /*not used */
 font-size: 12px;
 font-weight: bold;
 text-transform: uppercase;
}





/* bar charts for the Stacked Charts in Performance Tab and Overview Tab (Demographics and Stats) */
.bar-row {
 margin-top:3px;
}
.bar-lefttext {
/* Text to the left of each bar row */
 float:left;
 color: #777;
 font-size:11px;
 text-align:left;
 height: 15px;
}
.bar-stack .bar {
 /* Outside Bar 100% */
 border: 0px solid #DDD;
 height: 15px;
 position: relative;
 margin: 0px 0 0 30px;
}
/* demographics chart (margin-left override) */
.bar-stack .bar-demo {
 margin: 0px 0 0 50px;
}
/* stats chart (margin-left override) */
.bar-stack .bar-stats {
 margin: 0px 0 0 110px;
}
/* highschool growth and attainment charts (margin-left override) */
.bar-stack .bar-hs {
 margin: 0px 0 0 130px;
}
.bar-stack .value-bar {
 /* School Score Bar */
 background: #C5E6F9;
 height: 100%;
}
.bar-stack .value-bar-outcomena {
 /* National Average Score Bar - Outcomes */
 background: #ccc;
}
.bar-stack .value-bar-all {
 /* School Score Bar - Bottom All (Average) */
 background: #74BAE0;
}
.bar-stack .avg {
 /* CPS Average Line */
 background: #bbb;
 height: 30px;
 left: 0;
 position: absolute;
 top: -5px;
 width: 2px;
}
.bar-stack .cpsavg {
 /* CPS Average Text */
 font-size: 10px;
 margin-top: 0px;
 margin-left:30px;
 text-align: center;
 color: #777;
}
.bar-stack .cpsavghs {
 /* CPS Average Text override for highschool */
 margin-left:130px;
 margin-top: 0px;
}
.bar-stack .value {
 /* School Score Value */
 font-size: 11px;
 font-weight: bold;
 left: 5px;
 position: absolute;
 top: 1px;
 color: #069;
}
.bar-stack .value-all {
 /* School Score Value - Bottom All (color change) */
 color: #0E3C5F;
}
.bar-stack .value-outcomena {
 /* National Average Score - Outcomes */
 color: #aaa;
}
.bar-stack .value-behind {
 /* move the value on top of the bar */
  position:absolute; 
  z-index:11;
}
.bar-stack .value-bar-behind {
 /* move the bar on top of the vertical lines */
  position:absolute; 
  z-index:10;
}
.bar-stack .avgVertical {
 /* Vertical Line */
 background: #ddd;
 height: 30px;
 left: 0;
 position: absolute;
 top: -5px;
 width: 1px;
}
.bar-stack .avgVertical-short{
/* Short Vertical Line used at bottom of charts */
height: 8px;
top:0px;
}
.bar-stack .avgVertical-number {
 /* Number under vertical line */
 position: absolute;
 left: -5px;
 top: 5px;
 color: #777;
 font-size: 10px;
}

.bar-stack .tick-row-numbers .avgVertical-number {
 height: 8px;
 top:0px;}

.bar-stack .tick-row-ticks{
 height: 8px;
 border-bottom:1px solid #ddd;
 
}
/*light grey fill to the background of the row*/
.bar-bkg-light {
 /*background-color:#f1f1f1;*/
}


/*compare table*/
.compare td {
 height: 45px;
}
.table tbody.compare > tr > td {
 line-height: 1.1em;
 vertical-align: middle;
}
/*.table-striped > tbody.compare > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {background-color: #F0F0F0;}
*/.table-striped > tbody.compare > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
 background-color: #F0F0F0;
}




/*additional css
.v-align-middle {
 vertical-align: middle;
}*/

/*used to give space to the lable after the title in the performance section*/
.margin-left-15 {
 margin-left:15px;
 }
.margin-right-15 {
 margin-right:15px;
 }
 

/* pop up info panel style*/
.infoPop {
 border: 0px solid #444;
 border-radius: 12px;
 background-color: #ccc;
 color: #555;
 font-size: 10px;
 line-height: 10px;
 text-align: left;
 font-weight: bold;
 padding: 0px 3px;
 width: 12px;
 height: 12px;
 cursor: pointer; /*display: block;  position:relative;*/
 margin: 0;
}

.infoPopRight 
{
	margin:0 20px 0 0;
}
.infoPop:hover {
 color: #333;
 background-color: #bbb;
}
.popLevel:hover {
 text-decoration: none;
 color: #333;
}

/* circle with x in it for closing infopop*/
.close {
 /*move the x out of the way*/
 float: right; /*font-size: 21px; font-weight: bold; line-height: 1; color: #000;*/
 text-shadow: none;
 opacity: 1;
 filter: alpha(opacity=100);
 color: #777;
 font-size: 18px;
 border: 0px solid #444;
 border-radius: 16px;
 background-color: #ccc;
 text-align: left;
 font-weight: normal;
 padding: 0px 3px;
 width: 16px;
 height: 16px;
 cursor: pointer;
 margin: -9px -9px 0 0;
 line-height: 16px;
}
a.close.close-popLevel:hover {
 color: #000;
 background-color: #999;
}
/* adjust the padding of the left column icons */
.media>.media-leftbar-pad {
 padding-left:25px;
 min-height:25px;
 }
/* adjust the color of all glyficonsicons */
.glyphicons:before {
color: #999;
margin-top: 1px;
}
/* adjust the size of the bus icon*/
.glyphicons.bus:before {
font-size: 22px;
}


/* adjust the facebook and twitter icons */
.social:before {
 color: #999;
 margin-top: 1px;
}

.panel-default>.panel-heading>.h5 {
 font-weight:bold;
 color:#444;
}



